description = "Admin"

[session]
security = "user"
redirect = "home"
==
{% component 'session' %}
<!DOCTYPE html>
<html>
    <head>
        {% partial "globalHead" %}
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">

            <!-- Nav -->
            {% partial "globalNavigation" %}

        </header>

        <!-- Content -->
        <section id="layout-content" class="container">
            {% page %}
        </section>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-center copyright">&copy; 2015 Eastern Advocates</p>
        </div>
        
        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <!-- Scripts -->
        {% partial "globalScripts" %}
        {% framework extras %}
        {% scripts %}

    </body>
</html>