description = "Admin"

[session]
security = "user"
redirect = "home"
==
{% component 'session' %}
<!DOCTYPE html>
<html>
    <head>
        {% partial "globalHead" %}
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">

            <!-- Nav -->
            {% partial "globalNavigation" %}

        </header>

        <!-- Content -->
        <section id="layout-content" class="container">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <!-- Scripts -->
        {% partial "globalScripts" %}
        {% framework extras %}
        {% scripts %}

    </body>
</html>