description = "Default layout"

[session]
security = "all"
[integration]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial "globalHead" %}
    </head>
    <body>
        {% component 'integration' %}

        <!-- Header -->
        <header id="layout-header">

            <!-- Nav -->
            {% partial "globalNavigation" %}

        </header>

        <!-- Content -->
        <section id="layout-content" class="container">
            {% page %}
        </section>

        <!-- Footer -->

        <footer id="layout-footer">
            {% partial "footer" user=user page=this.page %}
        </footer>

        <!-- Scripts -->
        {% partial "globalScripts" %}
        {% framework extras %}
        {% scripts %}

    </body>
</html>