description = "Global Stylesheet Includes"
==
<meta charset="utf-8">
{% placeholder sharedialog default %}
<title>Eastern Advocates - {{ this.page.title }}</title>
{% endplaceholder %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="thNCs_zpevIAZssd4tgOPmxLcCHksCZFRKa1FqTrhwY" />
<!-- <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" /> -->
<link href="{{ [
    'assets/css/theme.css'
]|theme }}" rel="stylesheet">
<link href="{{ [
    'assets/css/styles.css'
]|theme }}" rel="stylesheet">
<link href="{{ [
    'assets/css/mobile.css'
]|theme }}" rel="stylesheet" media="only screen and (min-device-width : 320px) and (max-device-width : 481px)">
<link href="{{ [
    'assets/css/tablet.css'
]|theme }}" rel="stylesheet" media="only screen and (min-device-width : 482px) and (max-device-width : 1200px)">
{% styles %}
<style>
    .dropdown-menu > li > a {
        color: white;
    }
</style>
