.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
body {
  background-color: #222222;
  margin-top: 70px;
  padding-bottom: 180px;
  font-size: 2em;
}
#layout-header {
  font-size: 2em;
  font-weight: lighter;
}
#layout-nav {
  background-color: #333333;
}
.navbar-inverse .navbar-brand {
  font-size: 1.2em;
  font-weight: normal;
  padding-bottom: 50px;
  padding-top: 30px;
}
.navbar-inverse .navbar-nav a {
  padding-bottom: 30px;
  padding-top: 30px;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #262626;
}
article {
  background-color: #FFF;
  margin: 20px 0;
}
article > header {
  background-color: #a10022;
  padding: 25px 15px;
  margin: 0 -15px 10px -15px;
}
article > header > h2 {
  font-size: 3em;
  color: #FFF;
  margin: 0;
}
.advocacy-article {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .advocacy-article {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 992px) {
  .advocacy-article {
    margin-left: 16.66666667%;
  }
}
.form-success {
  color: #090;
  font-weight: bold;
}
.form-failure {
  color: #F00;
  font-weight: bold;
}
.footer-left {
  float: left;
  padding: 0px;
  width: 35%;
  text-align: left;
  font-size: 14px;
}
.footer-right {
  margin-left: 50%;
  min-width: 200px;
  padding: 0px;
  text-align: left;
  font-size: 14px;
}
div.footer-links > a {
  color: #ffffff;
  display: block;
  text-align: right;
  padding-left: 10px;
}
div.footer-links > a:focus {
  color: #999999;
}
div.footer-links > a.footer-brand {
  font-size: 16px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  margin-top: 40px;
  color: #999;
  background-color: #333333;
  text-align: center;
  font-size: .8em;
}
