@import (reference) "../vendor/bootstrap/less/bootstrap";

@backdrop-color: #222;
@nav-background-color: #333;

body {
  background-color: @backdrop-color;
  margin-top: 70px;
  padding-bottom: 180px;
  font-size: 2em;
}

#layout-header {
  font-size: 2em;
  font-weight: lighter;
}

#layout-nav {
  background-color: @nav-background-color;
}

.navbar-inverse {
  .navbar-brand {
    font-size: 1.2em;
    font-weight: normal;
    padding-bottom: 50px;
    padding-top: 30px;
  }
  .navbar-nav {
      a {
          padding-bottom: 30px;
          padding-top: 30px;
      }
    & > .active > a {
      background-color: #262626;
    }
  }
}


article {
  background-color: #FFF;
  margin: 20px 0;
  & > header {
    background-color: #a10022;
    padding: 25px 15px;
    margin: 0 -15px 10px -15px;
    & > h2 {
      font-size: 3em;
      color: #FFF;
      margin: 0;
    }
  }
}

.advocacy-article {
  .make-md-column(10);
  .make-md-column-offset(1);
}

.footer-left{
  float: left;
  padding: 0px;
  width: 35%;
  text-align: left;
  font-size: 14px;
}

.footer-right{
  margin-left: 50%;
  min-width: 200px;
  padding: 0px;
  text-align: left;
  font-size: 14px;
}

div.footer-links > a{
  color: #ffffff;
  display: block;
  text-align: right;
  padding-left: 10px;

  &:focus {
    color: #999999;
  }
  &.footer-brand {
    font-size: 16px;
  }
}

.copyright {
  color: #999;
  font-size: .8em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  margin-top: 40px;
  color: #999;
  background-color: @nav-background-color;
  text-align: center;
  font-size:.8em;
}

@media (max-height: 400px) {
  body {
    padding-bottom: 0;
  }
  footer {
    position: static;
  }
}

.advocacy-article {
  .make-md-column(8);
  .make-md-column-offset(2);
}

.form-success {
  color: #090;
  font-weight: bold;
}

.form-failure {
  color: #F00;
  font-weight: bold;
}
